{% extends 'base_back.html.twig' %}

{% block title %}{% trans with {'%user_firstname%': user.firstname, '%user_lastname%': user.lastname} %}user.edit{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans with {'%user_firstname%': user.firstname, '%user_lastname%': user.lastname} %}user.edit{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles, { 'attr': {'class': 'browser-default'} }) }}
        <br>
        <input type="submit" value="{% trans %}button.update{% endtrans %}" class="dd-btn dd-btn-edit">
    {{ form_end(form) }}
{% endblock %}