{% extends 'base_back.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="title">Liste des utilisateurs</h1>

    <div class="col s12 m12 l6 offset-l2 center">
        <table cellpadding="1" cellspacing="1" class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td>
                            <a href="{{ path('admin_user_show', {id: user.id}) }}" class="dd-btn dd-btn-primary">Voir</a>
                            <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="dd-btn dd-btn-edit">Editer</a>
                            <a href="{{ path('admin_user_delete', {id: user.id, token: csrf_token('delete_user' ~ user.lastname)}) }}" class="dd-btn dd-btn-remove">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}