{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="dd-btn dd-btn-edit">Editer</a> <br>
    <br>
    Name : {{ user.firstname }} <br>
    Lastname : {{ user.lastname }} <br>
    Email : {{ user.email }} <br>
    Roles : {{ user.roles ? user.roles|json_encode : '' }} <br>
    <br>
    <a href="{{ path('admin_user_index') }}" class="dd-btn dd-btn-default">Retour</a>
{% endblock %}