{% extends 'base_restaurant.html.twig' %}

{% block title %}{% trans with {'%menu_name%': menu.title} %}menu.edit{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans with {'%menu_name%': menu.title} %}menu.edit{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.title) }}
        {{ form_row(form.categories, { 'attr': {'class': 'browser-default'} }) }}
        <br>
        <input type="submit" value="{% trans %}button.update{% endtrans %}" class="dd-btn dd-btn-edit">
    {{ form_end(form) }}
{% endblock %}