{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}menu.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}menu.list{% endtrans %}</h1>

    {% if is_granted('ROLE_RESTAURATEUR') %}
        <div class="row right-align">
            <a href="{{ path('restaurant_menu_push_deliver') }}" class="dd-btn dd-btn-primary mr-0">{% trans %}menu.push{% endtrans %}</a>
            <a href="{{ path('restaurant_menu_fetch_deliver', {deliver: 'ubereats'}) }}" class="dd-btn dd-btn-primary mt-2">{% trans %}menu.fetch_ubereats{% endtrans %}</a>
            <a href="{{ path('restaurant_menu_fetch_deliver', {deliver: 'deliveroo'} ) }}" class="dd-btn dd-btn-primary mt-2">{% trans %}menu.fetch_deliveroo{% endtrans %}</a>
        </div>
        <a href="{{ path('restaurant_menu_new') }}" class="text-dark mt-3">
            <span><img class="icon" src="{{ asset('images/icons/icon-plus-hack.png') }}"></span>
            {% trans %}add{% endtrans %}
        </a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>{% trans %}menu.title{% endtrans %}</th>
                <th>{% trans %}category.word{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
                <tr>
                    <td><img src="{{ vich_uploader_asset(menu, 'imageFile') }}" class="thumbnail" alt="{{ menu.title }}"/></td>
                    <td>{{ menu.title }}</td>
                    <td>
                        {% for category in menu.categories %}
                            {{ category.title }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="t-d-none" href="{{ path('restaurant_menu_show', {id: menu.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>

                        {% if is_granted('ROLE_RESTAURATEUR') %}
                            <a class="t-d-none" href="{{ path('restaurant_menu_edit', {id: menu.id}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}">
                            </a>
                            <a class="t-d-none" href="{{ path('restaurant_menu_delete', {id: menu.id, token: csrf_token('delete_menu' ~ menu.id)}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-x-hack.png') }}">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}