{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}menu.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}menu.list{% endtrans %}</h1>

    {% if is_granted('ROLE_RESTAURATEUR') %}
        <a href="{{ path('restaurant_menu_new') }}" class="text-dark mt-3 t-d-none">
            <span><img class="icon" src="{{ asset('images/icons/icon-plus-hack.png') }}"></span>
            {% trans %}add{% endtrans %}
        </a>
    {% endif %}

    {% if app.user.stores.first.categories.count == 0 %}
        <p style="opacity:0.5;margin-top:10px"><i>{% trans %}menu.infos{% endtrans %}</i></p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}menu.title{% endtrans %}</th>
                <th>{% trans %}category.word{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
                <tr>
                    <td>{{ menu.title }}</td>
                    <td>
                        {% for category in menu.categories %}
                            {{ category.title }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="t-d-none" href="{{ path('restaurant_menu_show', {id: menu.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>

                        {% if is_granted('ROLE_RESTAURATEUR') %}
                            <a class="t-d-none" href="{{ path('restaurant_menu_edit', {id: menu.id}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}">
                            </a>
                            <a class="t-d-none" href="{{ path('restaurant_menu_delete', {id: menu.id, token: csrf_token('delete_menu' ~ menu.id)}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-x-hack.png') }}">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}