{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}menu.word{% endtrans %} {{ menu.title }}{% endblock %}

{% block body %}
    <div class="w-100">
        <img src="DivinDeliver{{ vich_uploader_asset(menu, 'imageFile') }}" class="thumbnail" alt="{{ menu.title }}"/> <br>
        {% trans %}menu.word{% endtrans %} : {{ menu.title }} <br>
        {% trans %}menu.title{% endtrans %} : {{ menu.title }} <br>
        Categories :
        {% for category in menu.categories %}
            {{ category.title }}
        {% endfor %}

        <br>
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('restaurant_menu_index') }}" class="text-dark mt-3 t-d-none">
                <span class="mr-2"><img class="icon rotate-180" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}back{% endtrans %}
            </a>    
            <a href="{{ path('restaurant_menu_edit', {id: menu.id}) }}" class="text-dark mt-3 t-d-none">
                <span><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}edit{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}