{% extends 'base_restaurant.html.twig' %}

{% block title %}Menu {{ menu.title }}{% endblock %}

{% block body %}
    <a href="{{ path('restaurant_menu_edit', {id: menu.id}) }}" class="dd-btn dd-btn-edit">{% trans %}button.edit{% endtrans %}</a> <br>
    <br>
    Menu : {{ menu.title }} <br>
    {% trans %}title{% endtrans %} : {{ menu.title }} <br>
    Categories :
    {% for category in menu.categories %}
        {{ category.title }}
    {% endfor %}
    <br>
    <a href="{{ path('restaurant_menu_index') }}" class="dd-btn dd-btn-default">{% trans %}button.back{% endtrans %}</a>
{% endblock %}
