{% extends 'base_restaurant.html.twig' %}

{% block title %}{% trans %}order.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}order.list{% endtrans %}</h1>

    <form action"{{ path('restaurant_order_index') }}" method="get" class="w-100 mb-2 mt-3">
        <select name="choice" id="choice" class="browser-default form-control" onchange="this.form.submit()">
            <option value="accepted">{% trans %}order.accepted{% endtrans %}</option>
            <option value="canceled">{% trans %}order.canceled{% endtrans %}</option>
        </select>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}order.id{% endtrans %}</th>
                <th>{% trans %}order.state{% endtrans %}</th>
                <th>{% trans %}order.type{% endtrans %}</th>
                <th>{% trans %}order.store{% endtrans %}</th>
                <th>{% trans %}order.eater{% endtrans %}</th>
                <th>{% trans %}order.payment{% endtrans %}</th>
                <th>{% trans %}order.placed_at{% endtrans %}</th>
                <th>{% trans %}order.estimated_ready_for_pickup_at{% endtrans %}</th>
                <th>{% trans %}order.deliver{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.display_id }}</td>
                    <td>{{ order.current_state }}</td>
                    <td>{{ order.type }}</td>
                    <td>{{ order.store.name }}</td>
                    <td>{{ order.eater.first_name }}</td>
                    <td>{{ order.payment.charges.total_fee.formatted_amount }}</td>
                    <td>{{ order.placed_at }}</td>
                    <td>{{ order.estimated_ready_for_pickup_at }}</td>
                    <td>{{ order.deliver }}</td>
                    <td>
                        {% if order.current_state is not same as('CANCELED') %}
                            {% if order.deliver is same as('ubereats') %}
                                <a href="{{ path('restaurant_order_ubereats_accept', {id: order._id}) }}" class="text-dark mt-3">
                                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                                    {% trans %}order.accept{% endtrans %}
                                </a>
                                <a href="{{ path('restaurant_order_ubereats_deny', {id: order._id}) }}" class="text-dark mt-3">
                                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                                    {% trans %}order.deny{% endtrans %}
                                </a>
                                <a href="{{ path('restaurant_order_ubereats_cancel', {id: order._id}) }}" class="text-dark mt-3">
                                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                                    {% trans %}order.cancel{% endtrans %}
                                </a>
                            {% else %}
                                <a href="{{ path('restaurant_order_deliveroo_accept', {id: order._id}) }}" class="text-dark mt-3">
                                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                                    {% trans %}order.accept{% endtrans %}
                                </a>
                                <a href="{{ path('restaurant_order_deliveroo_deny', {id: order._id}) }}" class="text-dark mt-3">
                                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                                    {% trans %}order.deny{% endtrans %}
                                </a>
                                <a href="{{ path('restaurant_order_deliveroo_cancel', {id: order._id}) }}" class="text-dark mt-3">
                                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                                    {% trans %}order.cancel{% endtrans %}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        let params = (new URL(document.location)).searchParams;
        let choice = params.get("choice") ?? "accepted";

        document.getElementById("choice").value = choice;
    </script>
{% endblock %}