{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}order.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}order.list{% endtrans %}</h1>

    <form action="{{ path('restaurant_order_index') }}" method="get" class="w-100 mb-2 mt-3">
        <select name="choice" id="choice" class="browser-default form-control" onchange="this.form.submit()">
            <option value="ALL">{% trans %}order.all{% endtrans %}</option>
            <option value="DENIED">{% trans %}order.denied{% endtrans %}</option>
            <option value="CREATED">{% trans %}order.created{% endtrans %}</option>
            <option value="ACCEPTED">{% trans %}order.accepted{% endtrans %}</option>
            <option value="CANCELED">{% trans %}order.canceled{% endtrans %}</option>
        </select>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{% trans %}order.state{% endtrans %}</th>
                <th>{% trans %}order.type{% endtrans %}</th>
                <th>{% trans %}order.store{% endtrans %}</th>
                <th>{% trans %}order.eater{% endtrans %}</th>
                <th>{% trans %}order.payment{% endtrans %}</th>
                <th>{% trans %}order.estimated_ready_for_pickup_at{% endtrans %}</th>
                <th>{% trans %}order.deliver{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.currentState }}</td>
                    <td>{{ order.type }}</td>
                    <td>{{ order.store.name }}</td>
                    <td>{{ order.content.eater.first_name }}</td>
                    <td>{{ order.content.payment.charges.total_fee.formatted_amount }}</td>
                    <td>{{ order.content.estimated_ready_for_pickup_at }}</td>
                    <td>{{ order.deliver|capitalize }}</td>
                    <td>
                        {% if order.currentState is not same as('CANCELED') %}
                            {% if order.deliver is same as('ubereat') %}
                                <a href="{{ path('restaurant_order_ubereats_accept', {id: order.id}) }}" class="t-d-none">
                                    <img class="icon" src="{{ asset('images/icons/icon-accept.png') }}">
                                </a>
                                <a href="{{ path('restaurant_order_ubereats_cancel', {id: order.id}) }}" class="t-d-none">
                                    <img class="icon" src="{{ asset('images/icons/icon-cancel.png') }}">
                                </a>
                                <a href="{{ path('restaurant_order_ubereats_deny', {id: order.id}) }}" class="t-d-none">
                                    <img class="icon" src="{{ asset('images/icons/icon-deny.png') }}">
                                </a>
                            {% else %}
                                <a href="{{ path('restaurant_order_deliveroo_accept', {id: order.id}) }}" class="t-d-none">
                                    <img class="icon" src="{{ asset('images/icons/icon-accept.png') }}">
                                </a>
                                <a href="{{ path('restaurant_order_deliveroo_cancel', {id: order.id}) }}" class="t-d-none">
                                    <img class="icon" src="{{ asset('images/icons/icon-cancel.png') }}">
                                </a>
                                <a href="{{ path('restaurant_order_deliveroo_deny', {id: order.id}) }}" class="t-d-none">
                                    <img class="icon" src="{{ asset('images/icons/icon-deny.png') }}">
                                </a>
                            {% endif %}

                            <a class="t-d-none" href="{{ path('restaurant_order_show', {id: order.id}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-show.png') }}">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script>
        let params = (new URL(document.location)).searchParams;
        let choice = params.get("choice") ?? "accepted";

        document.getElementById("choice").value = choice;
    </script>
{% endblock %}