{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}order.word{% endtrans %}{% endblock %}

{% block body %}
    <div class="w-100">
        {% trans %}order.state{% endtrans %} : {{ order.currentState }}<br>
        {% trans %}order.type{% endtrans %} : {{ order.type }}<br>
        {% trans %}order.store{% endtrans %} : {{ order.store.name }}<br>
        {% trans %}order.eater{% endtrans %} : {{ order.content.eater.first_name }}<br>
        {% trans %}order.payment{% endtrans %} : {{ order.content.payment.charges.total_fee.formatted_amount }}<br>
        {% trans %}order.estimated_ready_for_pickup_at{% endtrans %} : {{ order.content.estimated_ready_for_pickup_at }}<br>
        {% trans %}order.deliver{% endtrans %} : {{ order.deliver|capitalize }}<br>
        
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('restaurant_order_index') }}" class="text-dark mt-3">
                <span class="mr-2"><img class="icon rotate-180" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}