{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}order.word{% endtrans %}{% endblock %}

{% block body %}
    <div class="w-100">
        <div class="w-50 flex justify-center wrap m-auto">
            <table class="table mt-1">
                <tbody>
                    <tr>
                        <th>{% trans %}order.state{% endtrans %}</th>
                        <td>{{ order.currentState }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}order.type{% endtrans %}</th>
                        <td>{{ order.type }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}order.store{% endtrans %}</th>
                        <td>{{ order.store.name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}order.eater{% endtrans %}</th>
                        <td>{{ order.content.eater.first_name }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}order.payment{% endtrans %}</th>
                        <td>{{ order.content.payment.charges.total_fee.formatted_amount }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}order.estimated_ready_for_pickup_at{% endtrans %}</th>
                        <td>{{ order.content.estimated_ready_for_pickup_at }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}order.deliver{% endtrans %}</th>
                        <td>{{ order.deliver|capitalize }}</td>
                    </tr>
                </tbody>
            </table><br>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Instance id</th>
                <th>{% trans %}order.item.title{% endtrans %}</th>
                <th>{% trans %}order.item.external_data{% endtrans %}</th>
                <th>{% trans %}order.item.quantity{% endtrans %}</th>
                <th>{% trans %}order.item.price{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
                {% for item in order.content.cart.items %}
                    <td>{{ item.id }}</td>
                    <td>{{ item.instance_id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.external_data }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                {% endfor %}
            </tbody>
        </table>

        <br><br>

        {% if order.currentState is not same as('CANCELED') %}
            {% if order.deliver is same as('ubereat') %}
                <a href="{{ path('restaurant_order_ubereats_accept', {id: order.id}) }}" class="text-dark mt-3 t-d-none">
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                    {% trans %}order.accept{% endtrans %}
                </a>
                <a href="{{ path('restaurant_order_ubereats_cancel', {id: order.id}) }}" class="text-dark mt-3 t-d-none">
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                    {% trans %}order.cancel{% endtrans %}
                </a>
                <a href="{{ path('restaurant_order_ubereats_deny', {id: order.id}) }}" class="text-dark mt-3 t-d-none">
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                    {% trans %}order.deny{% endtrans %}
                </a>
            {% else %}
                <a href="{{ path('restaurant_order_deliveroo_accept', {id: order.id}) }}" class="text-dark mt-3 t-d-none">
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                    {% trans %}order.accept{% endtrans %}
                </a>
                <a href="{{ path('restaurant_order_deliveroo_cancel', {id: order.id}) }}" class="text-dark mt-3 t-d-none">
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                    {% trans %}order.cancel{% endtrans %}
                </a>
                <a href="{{ path('restaurant_order_deliveroo_deny', {id: order.id}) }}" class="text-dark mt-3 t-d-none">
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                    {% trans %}order.deny{% endtrans %}
                </a>
            {% endif %}
        {% endif %}
        
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('restaurant_order_index') }}" class="btn btn-primary btn-back mt-3 p-auto">
                <span class="mr-2"><img class="icon rotate-180" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}