{% extends 'base_back.html.twig' %}

{% block title %}{% trans %}menu.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}menu.list{% endtrans %}</h1>
    {% if is_granted('ROLE_RESTAURATEUR') %}
        <a href="{{ path('admin_menu_new') }}" 
            class="dd-btn dd-btn-add">{% trans %}button.add{% endtrans %}
        </a>
    {% endif %}
    <div class="col s12 m12 l6 offset-l2 center">
        <table cellpadding="1" cellspacing="1" class="admin-table">
            <thead>
                <tr>
                    <th>Menu</th>
                    <th>{% trans %}product.starter{% endtrans %}</th>
                    <th>{% trans %}product.main{% endtrans %}</th>
                    <th>{% trans %}product.dessert{% endtrans %}</th>
                    <th>{% trans %}product.drink{% endtrans %}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for menu in menus %}
                    <tr>
                        <td>{{ menu.name }}</td>
                        <td>{{ menu.entree ? menu.entree.name : "" }}</td>
                        <td>{{ menu.main.name }}</td>
                        <td>{{ menu.dessert ? menu.dessert.name : ""}}</td>
                        <td>{{ menu.drink.name }}</td>
                        <td>
                            <a href="{{ path('admin_menu_show', {id: menu.id}) }}"
                                class="dd-btn dd-btn-primary">{% trans %}button.see{% endtrans %}
                            </a>
                            {% if is_granted('ROLE_RESTAURATEUR') %}
                                <a href="{{ path('admin_menu_edit', {id: menu.id}) }}" 
                                    class="dd-btn dd-btn-edit">{% trans %}button.edit{% endtrans %}
                                </a>
                                <a href="{{ path('admin_menu_delete', {id: menu.id, token: csrf_token('delete_menu' ~ menu.name)}) }}" 
                                    class="dd-btn dd-btn-remove">{% trans %}button.delete{% endtrans %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
