{% extends 'base_back.html.twig' %}

{% block title %}{% trans %}menu.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}menu.list{% endtrans %}</h1>
    {% if is_granted('ROLE_RESTAURATEUR') %}
        <a href="{{ path('admin_menu_new') }}" class="add"><i class="material-icons">control_point</i></a>
    {% endif %}
    <div class="col s12 m12 l6 offset-l2 center">
        <table cellpadding="1" cellspacing="1" class="admin-table">
            <thead>
                <tr>
                    <th>{% trans %}item.word{% endtrans %}</th>
                    <th>{% trans %}category.word{% endtrans %}</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for menu in menus %}
                    <tr>
                        <td>{{ menu.title }}</td>
                        <td>
                            {% for category in menu.categories %}
                                {{ category.title }}<br>
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{{ path('admin_menu_show', {id: menu.id}) }}">
                                <i class="material-icons">remove_red_eye</i>
                            </a>
                            {% if is_granted('ROLE_RESTAURATEUR') %}
                                <a href="{{ path('admin_menu_edit', {id: menu.id}) }}">
                                    <i class="material-icons">mode</i>
                                </a>
                                <a href="{{ path('admin_menu_delete', {id: menu.id, token: csrf_token('delete_menu' ~ menu.title)}) }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
