{% extends 'base_admin.html.twig' %}

{% block title %}DivinDeliver | {% trans %}store.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}store.list{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}store.name{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for store in stores %}
                <tr>
                    <td>{{ store.name }}</td>
                    <td>
                        <a class="t-d-none" href="{{ path('admin_store_show', {id: store.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                        <a class="t-d-none" href="{{ path('admin_store_edit', {id: store.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}">
                        </a>
                        <a class="t-d-none" href="{{ path('admin_store_delete', {id: store.id, token: csrf_token('delete_store' ~ store.id)}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-x-hack.png') }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}