{% extends 'base_admin.html.twig' %}

{% block title %}{% trans %}store.word{% endtrans %} {{ store.name }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_store_edit', {id: store.id}) }}" class="dd-btn dd-btn-edit">{% trans %}button.edit{% endtrans %}</a> <br>
    <br>
    Name : {{ store.name }} <br>
    storeIdFakeUberEat : {{ store.storeIdFakeUberEat }} <br>

    <br>
    <a href="{{ path('admin_store_index') }}" class="dd-btn dd-btn-default">{% trans %}button.back{% endtrans %}</a>
{% endblock %}
