{% extends 'base_admin.html.twig' %}

{% block title %}{% trans %}store.word{% endtrans %} {{ store.name }}{% endblock %}

{% block body %}
    <div class="w-100">
        Name : {{ store.name }} <br>
        storeIdFakeUberEat : {{ store.storeIdFakeUberEat }} <br>

        <br>
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('admin_store_index') }}" class="text-dark mt-3">
                <span class="mr-2"><img class="icon rotate-180" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                Retour
            </a>    
            <a href="{{ path('admin_store_edit', {id: store.id}) }}" class="text-dark mt-3">
                <span><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                Éditer
            </a>
        </div>
    </div>
{% endblock %}
