{% extends 'base_back.html.twig' %}

{% block title %}{% trans %}item.new{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}item.new{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.priceInfo) }}
        {{ form_row(form.category, { 'attr': {'class': 'browser-default'} }) }}
        <input type="submit" class="btn green" value="{% trans %}button.create{% endtrans %}">
    {{ form_end(form) }}
{% endblock %}