{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}home{% endtrans %}{% endblock %}

{% block body %}
    {% trans %}welcome{% endtrans %} {{ user.firstname }} {{ user.lastname }}

    <div class="row d-flex mt-5 w-100 justify-content-around">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{% trans %}nav.users{% endtrans %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% trans %}stats.registered.users{% endtrans %}</h6>
                <p class="card-text text-center" style="font-size: 3rem">{{ users }}</p>
                <a href="{{ path('restaurant_user_index') }}" class="text-dark mt-3 text-decoration-none">
                    {% trans %}user.go_to{% endtrans %}
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{% trans %}nav.orders{% endtrans %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% trans %}stats.registered.orders{% endtrans %}</h6>
                <p class="card-text text-center" style="font-size: 3rem">{{ orders }}</p>
                <a href="{{ path('restaurant_order_index') }}" class="text-dark mt-3 text-decoration-none">
                    {% trans %}order.go_to{% endtrans %}
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{% trans %}nav.products{% endtrans %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% trans %}stats.registered.items{% endtrans %}</h6>
                <p class="card-text text-center" style="font-size: 3rem">{{ items }}</p>
                <a href="{{ path('restaurant_item_index') }}" class="text-dark mt-3 text-decoration-none">
                    {% trans %}item.go_to{% endtrans %}
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="row d-flex mt-5 mb-5 w-100 justify-content-around">  
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{% trans %}nav.categories{% endtrans %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% trans %}stats.registered.categories{% endtrans %}</h6>
                <p class="card-text text-center" style="font-size: 3rem">{{ categories }}</p>
                <a href="{{ path('restaurant_category_index') }}" class="text-dark mt-3 text-decoration-none">
                    {% trans %}category.go_to{% endtrans %}
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                </a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{% trans %}nav.menus{% endtrans %}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{% trans %}stats.registered.menus{% endtrans %}</h6>
                <p class="card-text text-center" style="font-size: 3rem">{{ menus }}</p>
                <a href="{{ path('restaurant_menu_index') }}" class="text-dark mt-3 text-decoration-none">
                    {% trans %}menu.go_to{% endtrans %}
                    <span class="mr-2"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
