{% extends 'base_back.html.twig' %}

{% block title %}Liste des libres{% endblock %}

{% block body %}
    <h1 class="title">Liste des livres</h1>

    <a href="{{ path('admin_book_new') }}" class="btn">Création d'un nouveau livre</a>

    <div class="row">
        {% for book in books %}
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        Name : {{ book.name }} <br>
                        Average Price : {{ book.averagePrice }} <br>
                    </div>
                    <div class="card-action">
                        <a href="{{ path('admin_book_show', {id: book.id}) }}">Voir</a>
                        <a href="{{ path('admin_book_edit', {id: book.id}) }}">Editer</a>
                        <a href="{{ path('admin_book_delete', {id: book.id, token: csrf_token('delete_book' ~ book.name)}) }}" class="red-text">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
