{% extends 'base_back.html.twig' %}

{% block title %}Liste des catégories de produits{% endblock %}

{% block body %}
    <h1 class="title">Liste des catégories de produits</h1>
    
    <a href="{{ path('admin_productcategory_new') }}" href="#!" class="btn-floating btn-large scale-transition">
        <i class="material-icons">add</i>
    </a>

    <div class="col s12 m12 l6 offset-l2 center">
        <table cellpadding="1" cellspacing="1" class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for productCategory in productCategories %}
                    <tr>
                        <td>{{ productCategory.name }}</td>
                        <td>
                            <a href="{{ path('admin_productcategory_show', {id: productCategory.id}) }}" class="dd-btn dd-btn-primary">Voir</a>
                            <a href="{{ path('admin_productcategory_edit', {id: productCategory.id}) }}" class="dd-btn dd-btn-edit">Editer</a>
                            <a href="{{ path('admin_productcategory_delete', {id: productCategory.id, token: csrf_token('delete_productcategory' ~ productCategory.name)}) }}" class="dd-btn dd-btn-remove">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
