{% extends 'base_back.html.twig' %}

{% block title %}Edition du produit {{ product.name }}{% endblock %}

{% block body %}
    <h1>Edition du produit {{ product.name }}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.productCategory, { 'attr': {'class': 'browser-default'} }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        <br>
        <input type="submit" value="Modifier" class="dd-btn dd-btn-edit">
    {{ form_end(form) }}
{% endblock %}