{% extends 'base_back.html.twig' %}

{% block title %}{% trans with {'%product_name%': product.name} %}product.edit{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans with {'%product_name%': product.name} %}product.edit{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.productCategory, { 'attr': {'class': 'browser-default'} }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        <br>
        <input type="submit" value="{% trans %}button.update{% endtrans %}" class="dd-btn dd-btn-edit">
    {{ form_end(form) }}
{% endblock %}