{% extends 'base_back.html.twig' %}

{% block title %}{% trans %}product.new{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}product.new{% endtrans %}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.productCategory, { 'attr': {'class': 'browser-default'} }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        <input type="submit" class="btn green" value="{% trans %}button.create{% endtrans %}">
    {{ form_end(form) }}
{% endblock %}