{% extends 'base_back.html.twig' %}

{% block title %}Produit {{ product.name }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_product_edit', {id: product.id}) }}" class="dd-btn dd-btn-edit">Editer</a> <br>
    <br>
    Category : {{ product.productCategory.name }} <br>
    Name : {{ product.name }} <br>
    Description : {{ product.description }} <br>
    Price : {{ product.price }} <br>
    <br>
    <a href="{{ path('admin_product_index') }}" class="dd-btn dd-btn-default">Retour</a>
{% endblock %}