{% extends 'base_back.html.twig' %}

{% block title %}Produit {{ product.name }}{% endblock %}

{% block body %}
    Category : {{ product.category }} <br>
    Name : {{ product.name }} <br>
    Description : {{ product.description }} <br>
    Price : {{ product.price }} <br>
    <a href="{{ path('admin_product_edit', {id: product.id}) }}">Editer</a> <br>
    <br>
    <a href="{{ path('admin_product_index') }}">Retour aux produits</a>
{% endblock %}