{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}item.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}item.list{% endtrans %}</h1>

    {% if is_granted('ROLE_RESTAURATEUR') %}
        <a href="{{ path('restaurant_item_new') }}" class="text-dark mt-3 t-d-none">
            <span><img class="icon" src="{{ asset('images/icons/icon-plus-hack.png') }}"></span>
            {% trans %}add{% endtrans %}
        </a>
    {% endif %}

    {% if app.user.stores.first.categories.count == 0 %}
        <p style="opacity:0.5;margin-top:10px"><i>{% trans %}item.infos{% endtrans %}</i></p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>{% trans %}category.word{% endtrans %}</th>
                <th>{% trans %}item.title{% endtrans %}</th>
                <th>{% trans %}item.price{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><img src="/DivinDeliver{{ vich_uploader_asset(item, 'imageFile') }}" class="thumbnail" alt="{{ item.title }}"/></td>
                    <td>{{ item.category.title }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.priceInfo }}</td>
                    <td>
                        <a class="t-d-none" href="{{ path('restaurant_item_show', {id: item.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>

                        {% if is_granted('ROLE_RESTAURATEUR') %}
                            <a class="t-d-none" href="{{ path('restaurant_item_edit', {id: item.id}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}">
                            </a>
                            <a class="t-d-none" href="{{ path('restaurant_item_delete', {id: item.id, token: csrf_token('delete_item' ~ item.id)}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-x-hack.png') }}">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}