{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}user.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}user.list{% endtrans %}</h1>

    {% if is_granted('ROLE_RESTAURATEUR') %}
        <a href="{{ path('restaurant_user_new') }}" type="button" class="btn btn-dark m-3 p-2 px-4">
            <span><img class="icon m-1" src="{{ asset('images/icons/icon-plus-white.png') }}"></span>
            {% trans %}add{% endtrans %}
        </a>
    {% endif %}

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">{% trans %}user.lastname{% endtrans %}</th>
                <th scope="col">{% trans %}user.firstname{% endtrans %}</th>
                <th scope="col">{% trans %}user.email{% endtrans %}</th>
                <th scope="col">{% trans %}user.roles{% endtrans %}</th>
                <th scope="col">{% trans %}user.valid{% endtrans %}</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode|replace({ ('["ROLE_'): '', '"]' : '' }) : '' }}</td>
                    <td>{{ user.isValid ? 'Yes' : 'No' }}</td>
                    <td>
                        <a class="t-d-none" href="{{ path('restaurant_user_show', {id: user.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                        <a class="t-d-none" href="{{ path('restaurant_user_edit', {id: user.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}">
                        </a>
                        <a class="t-d-none" href="{{ path('restaurant_user_delete', {id: user.id, token: csrf_token('delete_user' ~ user.id)}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-x-hack.png') }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}