{% extends 'base_restaurant.html.twig' %}

{% block title %}{% trans %}user.word{% endtrans %} {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <div class="w-100">
        {% trans %}user.firstname{% endtrans %} : {{ user.firstname }} <br>
        {% trans %}user.lastname{% endtrans %} : {{ user.lastname }} <br>
        {% trans %}user.email{% endtrans %} : {{ user.email }} <br>
        {% trans %}user.roles{% endtrans %} : {{ user.roles ? user.roles|json_encode|replace({ ('["ROLE_'): '', '"]' : '' }) : '' }}<br>

        <br>
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('restaurant_user_index') }}" class="text-dark mt-3">
                <span class="mr-2"><img class="icon rotate-180" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}back{% endtrans %}
            </a>    
            <a href="{{ path('restaurant_user_edit', {id: user.id}) }}" class="text-dark mt-3">
                <span><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}edit{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}