{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}category.word{% endtrans %} {{ category.title }}{% endblock %}

{% block body %}
    <h1>{% trans %}category.word{% endtrans %} {{ category.title }}</h1>

    {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.subtitle, {'attr': {'class': 'form-control'}}) }}
        
        <br>
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('restaurant_category_index') }}" class="btn btn-primary btn-back mt-3 p-auto">
                <span class="mr-2"><img class="icon rotate-180" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}back{% endtrans %}
            </a>
            <div>
                <input type="submit" class="btn btn-primary btn-edit mt-3 p-auto" value="{% trans %}save{% endtrans %}">
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}