{% extends 'base_restaurant.html.twig' %}

{% block title %}{% trans %}category.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}category.list{% endtrans %}</h1>

    {% if is_granted('ROLE_RESTAURATEUR') %}
        <a href="{{ path('restaurant_category_new') }}" class="text-dark mt-3">
            <span><img class="icon" src="{{ asset('images/icons/icon-plus-hack.png') }}"></span>
            Ajouter
        </a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                    <th>{% trans %}title{% endtrans %}</th>
                    <th>{% trans %}subtitle{% endtrans %}</th>
                    <th>Actions</th>
                </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                    <tr>
                        <td>{{ category.title }}</td>
                        <td>{{ category.subtitle }}</td>
                    <td>
                        <a class="t-d-none" href="{{ path('restaurant_category_show', {id: category.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>

                        {% if is_granted('ROLE_RESTAURATEUR') %}
                            <a class="t-d-none" href="{{ path('restaurant_category_edit', {id: category.id}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}">
                            </a>
                            <a class="t-d-none" href="{{ path('restaurant_category_delete', {id: category.id, token: csrf_token('delete_category' ~ category.id)}) }}">
                                <img class="icon" src="{{ asset('images/icons/icon-x-hack.png') }}">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}