{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}category.new{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}category.new{% endtrans %}</h1>

    {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.subtitle, {'attr': {'class': 'form-control'}}) }}
        
        <br>
        <div class="d-flex align-items-center justify-content-between">
            <a href="{{ path('restaurant_category_index') }}" class="text-dark mt-3">
                <span class="mr-2"><img class="icon rotate-180" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                {% trans %}back{% endtrans %}
            </a>
            <div>
                <span class="mr-1"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
                <input type="submit" class="dd-bt-edit" value="{% trans %}add{% endtrans %}">
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}