{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}settings.word{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}settings.word{% endtrans %}</h1>

    {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        <span>Ubereats webhook : http://217.160.64.31/DivinDeliver/restaurant/webhook/ubereat/{{ app.user.stores.first().id }}</span>
        {{ form_row(form.storeIdFakeUberEat, {'attr': {'class': 'form-control'}}) }}
        <span>Deliveroo webhook : http://217.160.64.31/DivinDeliver/restaurant/webhook/deliveroo/{{ app.user.stores.first().id }}</span>
    {{ form_row(form.storeIdFakeDeliveroo, {'attr': {'class': 'form-control'}}) }}
        
        <br>
        <div>
            <span class="mr-1"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
            <input type="submit" class="dd-bt-edit" value="{% trans %}edit{% endtrans %}">
        </div>
    {{ form_end(form) }}
{% endblock %}