{% extends 'base_restaurant.html.twig' %}

{% block title %}DivinDeliver | {% trans %}settings.word{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}settings.word{% endtrans %}</h1>

    <div class="row right-align">
        <a href="{{ path('restaurant_menu_push_deliver') }}" class="dd-btn dd-btn-primary mr-0">{% trans %}menu.push_ubereat{% endtrans %}</a>
        <button id="importBtn" class="dd-btn dd-btn-primary mt-2">{% trans %}menu.fetch_ubereats{% endtrans %}</button>
    </div>

    {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.storeIdFakeUberEat, {'attr': {'class': 'form-control'}}) }}
        <small>Ubereats webhook : http://217.160.64.31/DivinDeliver/restaurant/webhook/ubereat/{{ app.user.stores.first().id }}</small>
        {{ form_row(form.storeIdFakeDeliveroo, {'attr': {'class': 'form-control'}}) }}
        <small>Deliveroo webhook : http://217.160.64.31/DivinDeliver/restaurant/webhook/deliveroo/{{ app.user.stores.first().id }}</small>
        
        <br>
        <div>
            <span class="mr-1"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
            <input type="submit" class="dd-bt-edit mt-2" value="{% trans %}edit{% endtrans %}">
        </div>
    {{ form_end(form) }}

    <div id="import" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>{% trans %}menu.fetch{% endtrans %}</p>
            <a id="importValid" href="{{ path('restaurant_settings_index', {deliver: 'ubereats'}) }}" class="dd-btn dd-btn-primary mt-2">{% trans %}menu.confirm{% endtrans %}</a>
        </div>
    </div>

    <script>
        var modal = document.getElementById("import");
        var btn = document.getElementById("importBtn");
        var btnValid = document.getElementById("importValid");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        btnValid.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}