{% extends 'base_admin.html.twig' %}

{% block title %}{% trans %}user.list{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="title">{% trans %}user.list{% endtrans %}</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}user.firstname{% endtrans %}</th>
                <th>{% trans %}user.lastname{% endtrans %}</th>
                <th>{% trans %}user.email{% endtrans %}</th>
                <th>{% trans %}user.roles{% endtrans %}</th>
                <th>{% trans %}restaurant{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode|replace({ ('["ROLE_'): '', '"]' : '' }) : '' }}</td>
                    <td>{{ user.stores.first() ? user.stores.first().name : '' }}</td>
                    <td>
                        <a class="t-d-none" href="{{ path('admin_user_show', {id: user.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                        <a class="t-d-none" href="{{ path('admin_user_edit', {id: user.id}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}">
                        </a>
                        <a class="t-d-none" href="{{ path('admin_user_delete', {id: user.id, token: csrf_token('delete_user' ~ user.id)}) }}">
                            <img class="icon" src="{{ asset('images/icons/icon-x-hack.png') }}">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
