{% extends 'base_admin.html.twig' %}

{% block title %}{% trans %}user.word{% endtrans %} {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="dd-btn dd-btn-edit">{% trans %}button.edit{% endtrans %}</a> <br>
    <br>
    Name : {{ user.firstname }} <br>
    Lastname : {{ user.lastname }} <br>
    Email : {{ user.email }} <br>
    Roles : {{ user.roles ? user.roles|json_encode : '' }} <br>
    Restaurant : {{ user.stores.first().name }} <br>
    <br>
    <a href="{{ path('admin_user_index') }}" class="dd-btn dd-btn-default">{% trans %}button.back{% endtrans %}</a>
{% endblock %}
