<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <ul id="nav-mobile" class="sidenav sidenav-fixed">
                <li><a href="{{ path('default_index') }}">Accueil</a></li>
                <li><a href="">Dashboard</a></li>
                <li><a href="{{ path('admin_menu_index') }}">Menu</a></li>
                <li><a href="{{ path('admin_product_index') }}">Produit</a></li>
                <li><a href="{{ path('admin_productcategory_index') }}">Catégorie</a></li>
                <li><a href="">Commandes</a></li>
                <li><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
                <li><a href="">Images</a></li>
                <li><a href="">Paramètres</a></li>
            </ul>
        </header>

        <main style="padding-left: 300px;">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </main>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
