<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-front">
            <nav class="nav-front">
                <a href="{{ path('default_index') }}" style="height:100%"><img src="images/logo.png" class="logo"></img></a>
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">{% trans %}user.logout{% endtrans %}</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">{% trans %}user.login{% endtrans %}</a></li>
                        <li><a href="{{ path('app_register') }}">{% trans %}user.register{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
