<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DivinDeliver{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body style="background-color: white">
        <header class="d-flex align-items-center justify-content-between header-front shadow">
            <div class="d-flex align-items-center flex-row ml-5">
                <a href="{{ path('default_index') }}"><img src="{{ asset('images/logo.png') }}" style="height: 70px"></a>
            </div>

            <div>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="btn-login">{% trans %}logout{% endtrans %}</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_default_index') }}" class="btn-create" style="margin-left: 10px">Admin</a>
                    {% else %}
                        <a href="{{ path('restaurant_default_index') }}" class="btn-create" style="margin-left: 10px">{% trans %}nav.my_restaurant{% endtrans %}</a>
                    {% endif %}
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn-login">{% trans %}user.login{% endtrans %}</a>
                    <a href="{{ path(('app_register')) }}" style="margin-left: 10px" class="btn-create">{% trans %}store.create{% endtrans %}</a>
                {% endif %}
            </div>
        </header>
        
        <div class="bg-white" style="padding-top: 75px">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
