<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{% block title %}DivinDeliver{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    
    <body>
        <header class="d-flex align-items-center justify-content-between header-back header-back-p10">
                <a href="{{ path('default_index') }}"><img src="{{ asset('images/logo.png') }}" style="height: 125px"></a>
                
                <div id="order_notification" class="alert-order d-none">
                    <a href="#" style="color:red;">{% trans %}order.waiting{% endtrans %}</a>
                </div>

                <div class="d-flex flex-row">
                    {% if app.user %}
                        <a href="{{ path('back_profile_index') }}" class="t-d-none text-dark" style="margin-right:15px;">
                            <img class="icon" src="{{ asset('images/icons/icon admin mobile-hack.png') }}">
                            <span class="ml-3">{% trans %}nav.profile{% endtrans %}</span>
                        </a>

                        <div>
                            <a href="{{ path('app_logout') }}" class="text-dark t-d-none">{% trans %}logout{% endtrans %}</a>
                            <span><img class="icon" src="{{ asset('images/icons/icon-admin-hack.png') }}"></span>
                        </div>
                    {% endif %}
                </div>
        </header>

        <div class="row">
            <div class="col-3 sidenav">
                <ul class="mt-2 d-flex flex-column align-items-center">
                    <li class="w-100 pl-2 pr-2 mt-4">
                        <a href="{{ path('restaurant_order_index') }}" class="w-100 d-flex flex-row justify-content-between align-items-center t-d-none">
                            <span style="font-size: 22px;">{% trans %}nav.orders{% endtrans %}</span>
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                    </li>
                    <div class="ligne"></div>

                    <li class="w-100 pl-2 pr-2" style="margin-top: 5rem">
                        <a href="{{ path('restaurant_default_index') }}" class="w-100 d-flex flex-row justify-content-between align-items-center t-d-none">
                            <span>Dashboard</span>
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                    </li>
                    <div class="ligne"></div>

                    <li class="w-100 pl-2 pr-2">
                        <a href="{{ path('restaurant_menu_index') }}" class="w-100 d-flex flex-row justify-content-between align-items-center t-d-none">
                            <span>{% trans %}nav.menus{% endtrans %}</span>
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                    </li>
                    <div class="ligne"></div>

                    <li class="w-100 pl-2 pr-2">
                        <a href="{{ path('restaurant_item_index') }}" class="w-100 d-flex flex-row justify-content-between align-items-center t-d-none">
                            <span>{% trans %}nav.products{% endtrans %}</span>
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                    </li>
                    <div class="ligne"></div>

                    <li class="w-100 pl-2 pr-2">
                        <a href="{{ path('restaurant_category_index') }}" class="w-100 d-flex flex-row justify-content-between align-items-center t-d-none">
                            <span>{% trans %}nav.categories{% endtrans %}</span>
                            <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                        </a>
                    </li>
                    <div class="ligne"></div>

                    {% if is_granted('ROLE_RESTAURATEUR') %}
                        <li class="w-100 pl-2 pr-2">
                            <a href="{{ path('restaurant_user_index') }}" class="w-100 d-flex flex-row justify-content-between align-items-center t-d-none">
                                <span>{% trans %}nav.users{% endtrans %}</span>
                                <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                            </a>
                        </li>
                        <div class="ligne"></div>

                        <li class="w-100 pl-2 pr-2">
                            <a href="{{ path('restaurant_settings_index') }}" class="w-100 d-flex flex-row justify-content-between align-items-center t-d-none">
                                <span>{% trans %}nav.settings{% endtrans %}</span>
                                <img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-9">
                {% for label, messages in app.flashes() %}                    
                    {% for message in messages %}
                        <div class="alert {{"alert-#{label}"}}">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="container mt-5 d-flex flex-column align-items-center">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <footer>
            <span>DivinDeliver</span>
            <div class="w-100 d-flex justify-content-between">
                <div>© 2021, DivinDeliver</div>
                <div class="text-right">
                    <a class="color-white" href="tel:+33102030405">+33 1 02 03 04 05</a>
                    <br>
                    <a class="" href="mailto:contact@divindeliver.fr">contact@divindeliver.fr</a>
                </div>
            </div>
        </footer>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script>
                // LISTEN ORDERS
                const url = new URL("http://localhost:9090/.well-known/mercure");
                url.searchParams.append("topic", "http://localhost:8082/restaurant/webhook/ubereat");

                const eventSource = new EventSource(url);
                eventSource.onmessage = (event) => {
                    const order_notification = document.getElementById('order_notification');
                    order_notification.classList.remove('d-none');

                order_notification.firstElementChild.setAttribute('href', `{{ path('restaurant_order_index') }}show/${event.data}`);
                };
            </script>
        {% endblock %}
    </body>
</html>
