{% extends is_granted('ROLE_ADMIN')
    ? 'base_admin.html.twig' 
    : 'base_restaurant.html.twig' %}

{% block title %}{% trans %}nav.profile{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}edit_profile{% endtrans %}</h1>

    {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        
        <br>
        <div>
            <span class="mr-1"><img class="icon" src="{{ asset('images/icons/icon-fleche-r-hack.png') }}"></span>
            <input type="submit" class="dd-bt-edit" value="{% trans %}edit{% endtrans %}">
        </div>
    {{ form_end(form) }}
{% endblock %}