{% extends 'base_back.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    Name : {{ app.user.firstname }} <br>
    Lastname : {{ app.user.lastname }} <br>
    Email : {{ app.user.email }} <br>
    <br>
    <a href="{{ path('admin_profile_edit') }}" class="dd-btn dd-btn-edit">Modifier</a>
    <a href="{{ path('admin_profile_edit-password') }}" class="dd-btn dd-btn-edit">Mot de passe</a>
{% endblock %}